@model IPBLL.CreateRegistrationRequest

@{
    ViewData["Title"] = "CreateRegistrationView";
    var events = ViewBag.Events as List<SelectListItem>;
    var paymentStatusOptions = new List<SelectListItem>
    {
        new SelectListItem { Text = "Paid", Value = "Paid" },
        new SelectListItem { Text = "Pending", Value = "Pending" },
        new SelectListItem { Text = "Refunded", Value = "Refunded" }
    };
    var paymentMethodOptions = new List<SelectListItem>
    {
        new SelectListItem { Text = "Credit Card", Value = "Credit Card" },
        new SelectListItem { Text = "PayPal", Value = "PayPal" },
        new SelectListItem { Text = "Cash", Value = "Cash" }
    };
    var ticketMethodOptions = new List<SelectListItem>
    {
        new SelectListItem { Text = "General", Value = "General" },
        new SelectListItem { Text = "VIP", Value = "VIP" },
        new SelectListItem { Text = "Student", Value = "Student" }

    };
}

<h1>Create Registration Request</h1>

<p>
    Here you can create a new registration for the events.
</p>

<h4>Registration Information</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateRegistration">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="EventId" class="control-label">Event Name</label>
                <select asp-for="EventId" asp-items="events" class="form-control"></select>
                <span asp-validation-for="EventId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationDate" class="control-label">Registration Date</label>
                <input asp-for="RegistrationDate" class="form-control" value="@DateTime.Now.ToString()"/>
                <span class="text-danger">@Html.ValidationMessageFor(model => model.RegistrationDate)</span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentStatus" class="control-label">Payment Status</label>
                <select asp-for="PaymentStatus" asp-items="paymentStatusOptions" class="form-control"></select>
                <span class="text-danger">@Html.ValidationMessageFor(model => model.PaymentStatus)</span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMethod" class="control-label">Payment Method</label>
                <select asp-for="PaymentMethod" asp-items="paymentMethodOptions" class="form-control"></select>
                <span class="text-danger">@Html.ValidationMessageFor(model => model.PaymentMethod)</span>
            </div>
            <div class="form-group">
                <label asp-for="AttendeeName" class="control-label">Attendee Name</label>
                <input asp-for="AttendeeName" class="form-control" />
                <span class="text-danger">@Html.ValidationMessageFor(model => model.AttendeeName)</span>
            </div>
            <div class="form-group">
                <label asp-for="AttendeeAddress" class="control-label">Attendee Address</label>
                <input asp-for="AttendeeAddress" class="form-control" />
                <span class="text-danger">@Html.ValidationMessageFor(model => model.AttendeeAddress)</span>
            </div>
            <div class="form-group">
                <label asp-for="AttendeeEmail" class="control-label">Attendee Email</label>
                <input asp-for="AttendeeEmail" type="email" class="form-control" />
                 <span class="text-danger">@Html.ValidationMessageFor(model => model.AttendeeEmail)</span>
            </div>
            <div class="form-group">
                <label asp-for="AttendeePhoneNumber" class="control-label">Attendee Phone Number</label>
                <input asp-for="AttendeePhoneNumber" type="tel" class="form-control" />
                <span class="text-danger">@Html.ValidationMessageFor(model => model.AttendeePhoneNumber)</span>
            </div>
            <div class="form-group">
                <div class="form-check">
                    <input asp-for="HasConfirmedAttendance" class="form-check-input" type="checkbox" />
                    <label class="form-check-label" asp-for="HasConfirmedAttendance">Confirm Attendance</label>
                </div>
                 <span class="text-danger">@Html.ValidationMessageFor(model => model.HasConfirmedAttendance)</span>
            </div>
            <div class="form-group">
                <label asp-for="TicketType" class="control-label">Ticket Type</label>
                <select asp-for="TicketType" asp-items="ticketMethodOptions" class="form-control"></select>
                 <span class="text-danger">@Html.ValidationMessageFor(model => model.TicketType)</span>
            </div>
            <div class="form-group">
                <label asp-for="TicketPrice" class="control-label">Ticket Price</label>
                <input asp-for="TicketPrice" type="number" class="form-control" />
                 <span class="text-danger">@Html.ValidationMessageFor(model => model.TicketPrice)</span>
            </div>
            <div class="form-group">
                <label asp-for="TicketQuantity" class="control-label">Ticket Quantity</label>
                <input asp-for="TicketQuantity" type="number" class="form-control" />
                 <span class="text-danger">@Html.ValidationMessageFor(model => model.TicketQuantity)</span>
            </div>
            <div class="form-group mt-3">
                <div class="d-flex justify-content-between">
                    <input type="submit" value="Create" class="btn btn-primary m-2" />
                    <a asp-action="Index" class="btn btn-secondary m-2">Back to List</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

